<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="/ajax.js"></script>
	<script type="text/javascript" src='/urlParam.js'></script>
	<style type="text/css">
		html,body{
			padding: 0;
			margin: 0;
			height: 100%;
			width: 100%;
		}
		.content{
			width: 1130px;
			margin: 0 auto;
		}
		.authorBox{
			text-align: left;
			line-height: 50px;
			font-size: 22px;
		}
		.avatar{
			width: 100%;
		}
	</style>
</head>
<body>
	<div class="content">
		<h1 style="text-align: center;">
			<%= article_data.title %>
			<input type="button" name="like" id='like' value="点赞">
			<span id='likeNum'><%= article_data.likes %></span>
		</h1>
		<div class="authorBox">
			<img src="<%= article_data.cover %>" alt='' class='avatar'/>
			<span>
				<%= article_data.author %>
			</span>
		</div>
		<span>
			<% var fragment=article_data.content.replace(/^/gm,'<p>').replace(/$/gm,'</p>') %>
			<%- fragment %>
		</span>
	</div>
	<script type="text/javascript">
		var oLike=document.getElementById('like')
		var obj=urlParam()
		var likeNum = document.getElementById('likeNum')
		oLike.onclick=function(){
			ajax({
				url:'/like',
				method:'get',
				data:{
					articleId:obj.id
				},
				success:function(e){
					var o=JSON.parse(e)
					console.log(o.data.likes)
					likeNum.innerHTML = o.data.likes
				},
				fail:function(err){
					console.log(err)
				}	
			})
		}
	</script>
</body>
</html>